# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Environment
backend/.env

# Database
backend/community_hero.db
*.db

# Uploads
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/

# Root
.dist/